$body-main-bg: #FFFFFF;
$body-login-bg: #FEF8ED;

$mainHeaderFooterColor: #EAEAED;

$navbar-bg: $mainHeaderFooterColor;

$font-family: "Roboto", "Arial","Helvetica", "sans-serif" !important;

$black: #000000;